@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  user-select: none;
  box-sizing: border-box;
}

.site-bg-empty,
html,
body,
#root {
  background-color: rgb(108, 117, 125);
}
