# Ignore node_modules directory
**/node_modules

# Ignore build artifacts from any nested directory
**/dist

# Ignore development logs
*.log

# Ignore editor and IDE files
.vscode

# Ignore version control files
# JK we need these now for CI/CD
# .git
# .gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore the README
README.md

# infra configurations, that's not strictly "code"
infra
infra/github-actions/.secrets

# local ssl certificates
**.pem

# Ignore the .env file
# .env
