# Ignore node_modules directory
**/node_modules

# Ignore build artifacts from any nested directory
**/dist

# Ignore development logs
*.log

# Ignore editor and IDE files
.vscode

# Ignore version control files
# JK we need these now for CI/CD
# .git
# .gitignore

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore the README
README.md

# infra, that's a different image
infra

# local ssl certificates
**.pem

# Ignore the lockfile
pnpm-lock.yaml
