[submodule "apps/pathfinder-visualizer"]
	path = apps/pathfinder-visualizer
	url = https://github.com/dreadhalor/pathfinder-visualizer
[submodule "apps/minesweeper"]
	path = apps/minesweeper
	url = https://github.com/Dreadhalor/minesweeper
[submodule "apps/enlight"]
	path = apps/enlight
	url = https://github.com/Dreadhalor/enlight
[submodule "apps/ascii-video"]
	path = apps/ascii-video
	url = https://github.com/Dreadhalor/ascii-video
[submodule "packages/dread-ui"]
	path = packages/dread-ui
	url = https://github.com/Dreadhalor/dread-ui
[submodule "apps/shareme"]
	path = apps/shareme
	url = https://github.com/Dreadhalor/shareme
[submodule "apps/portfolio"]
	path = apps/portfolio
	url = https://github.com/Dreadhalor/portfolio
[submodule "apps/su-done-ku"]
	path = apps/su-done-ku
	url = https://github.com/Dreadhalor/su-done-ku
[submodule "apps/steering-text"]
	path = apps/steering-text
	url = https://github.com/dreadhalor/steering-text
[submodule "apps/fallcrate"]
	path = apps/fallcrate
	url = https://github.com/dreadhalor/fallcrate
