.menu-bar-gradient2 {
  /* bg-[#3B77BC] */
  background: #0855dd;
  background: linear-gradient(
    0deg,
    #000011 0%,
    #06439c 3%,
    #0855dd 20%,
    #0855dd 80%,
    #3c7dff 97%,
    #5494ff 100%
  );
}
.vertical-xp-gradient {
  background: #0855dd;
  background: linear-gradient(
    0deg,
    #0855dd 0%,
    #0855dd 80%,
    #3c7dff 97%,
    #5494ff 100%
  );
}

.window-header-gradient {
  background: linear-gradient(
    rgb(0, 88, 238) 0%,
    rgb(53, 147, 255) 4%,
    rgb(40, 142, 255) 6%,
    rgb(18, 125, 255) 8%,
    rgb(3, 111, 252) 10%,
    rgb(2, 98, 238) 14%,
    rgb(0, 87, 229) 20%,
    rgb(0, 84, 227) 24%,
    rgb(0, 85, 235) 56%,
    rgb(0, 91, 245) 66%,
    rgb(2, 106, 254) 76%,
    rgb(0, 98, 239) 86%,
    rgb(0, 82, 214) 92%,
    rgb(0, 64, 171) 94%,
    rgb(0, 48, 146) 100%
  );
}
