
@layer base {
  :root {
    --font-sans: filson-pro, sans-serif;
    --font-serif: moret, serif;

    /* color palette */
    --ash: 330 6% 13%;
    --ash-medium: 0 0% 45%;
    --ash-light: 0 0% 65%;
    --ash-lighter: 0 0% 91%;
    --ash-lightest: 0 0% 98%;
    --beryl: 166 60% 53%;
    --blueish: 227 27% 52%;
    --danger: 0 62% 50%;

    /* theme colors */
    --background: 0 0% 100%;
    --foreground: var(--ash);
    --muted: var(--ash-lighter);
    --muted-foreground: var(--ash-medium);
    --popover: 0 0% 100%;
    --popover-foreground: var(--ash);
    --border: var(--ash-lighter);
    --input: var(--ash-light);
    --card: 0 0% 100%;
    --card-foreground: var(--ash);
    --primary: var(--blueish);
    --primary-foreground: 0 0% 100%; /* white */
    --secondary: var(--ash-lighter);
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: var(--ash);
    --destructive: var(--danger);
    --destructive-foreground: 0 0% 100%; /* white */
    --success: var(--beryl);
    --success-foreground: 0 0% 0%; /* white */
    --ring: var(--blueish);
    --radius: 0.5em;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }

  h1 {
    font-family: var(--font-serif);
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0;
  }

  html,
  body,
  #root {
    height: 100%;
    overflow: hidden;
  }
}

@layer components {
  .body-x-small {
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: 425;
    line-height: 16px;
    letter-spacing: 0;
  }
  .caption-1 {
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
}
