@import './assets/typekit.css';

@import "tailwindcss";

@layer base {
  :root {
    --font-sans: filson-pro, sans-serif;
    --font-serif: moret, serif;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    line-height: 1.5;
    font-weight: 400;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 65%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --caution: 45 100% 50%;
    --caution-foreground: 210 40% 98%;

    --success: 120 100% 25%;
    --success-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 214.3 11.8% 40%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --caution: 45 100% 50%;
    --caution-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer components {
  .body-large {
    font-family: var(--font-sans);
    font-size: 18px;
    font-weight: 425;
    line-height: 24px;
    letter-spacing: 0;
  }

  .body-medium {
    font-family: var(--font-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  .body-small {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
  }

  .body-x-small {
    font-family: var(--font-sans);
    font-size: 12px;
    font-weight: 425;
    line-height: 16px;
    letter-spacing: 0;
  }

  .caption-1 {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.02em;
  }

  .caption-2 {
    font-family: var(--font-sans);
    font-size: 14px;
    font-weight: 425;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}

.dropdown-menu-content {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}

/* to make the sonner content fill the width of the toast */
[data-sonner-toast] [data-content] {
  @apply flex-1;
}
